@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 64);
  --primary-black: #000000;
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-salmon: #ba4a00;
  --primary-transparent-black: rgba(0, 0, 0, 0.7);
}

body {
  font-family: "Roboto Condensed", sans-serif !important;
}

/***NAVBAR***/

nav {
  z-index: 2;
}

.logo {
  height: 55px;
  width: 180px;
}

/**** MENU LINKS ****/
nav a.nav-link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
}

.nav-brand {
  max-width: 276px;
  padding: 0 !important;
  height: 96px !important;
}

@media (max-width: 768px) {
  .navbar-brand {
    width: 112px;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-orange);
}

/***************HEADER*****************/

.header-wraper {
  position: relative;
  background: url(wallpaper1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  font-weight: 800;
  color: var(--primary-orange);
  text-transform: uppercase;
}

/**********TYPED TEXT***********/
.typed-text {
  font-weight: 800;
  font-size: 32px;
  color: var(--primary-white);
}

@media (max-width: 768px) {
  .main-info h1 {
    font-size: 28px !important;
  }

  .typed-text {
    font-size: 24px !important;
  }
}

/*********** PARTICLES *************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 760px) {
  .particles-canvas {
    display: none;
  }
}

/****************** ABOUT ME *****************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
  padding-top: 48px;
}

.profile-img {
  width: 384px;
  border-radius: 50%;
  padding: 4px;
  border: 1px solid var(--primary-orange);
  position: center;
}

.about-heading {
  color: var(--primary-orange);
  text-transform: uppercase;
  padding-top: 48px;
}

@media (max-width: 768px) {
  .about-heading {
    text-align: center;
  }
}

@media (max-width: 468px) {
  .profile-img {
    width: 180px;
  }
}

/********************SKILLS*******************/
.skills {
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  background: var(--primary-light-grey);
}

.skills h1 {
  color: var(--primary-dark);
  text-transform: uppercase;
}

.skills .focus {
  transition: transform 0.3s;
}

.skills .focus:hover {
  transform: scale(1.05);
}

.skills .item:hover {
  font-size: 20px;
  font-weight: 700;
}

.skills .card-title {
  font-size: 32px;
  font-weight: 700;
}

.skills .image-item {
  width: 48px !important;
  height: 48px !important;
}

.skill-line {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/*************** EXPERIENCE *******************/

.experience {
  padding: 48px;
}

.experience-wrapper {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.75px;
  width: 2px;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 5px solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 10px;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: var(--primary-dark-grey);
  direction: ltr;
}

.timeline-content h3 {
  margin-top: 5px;
  color: var(--primary-salmon);
  font-weight: 900;
}

/*********** MEDIA ***********/

@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 8px;
    margin-bottom: 30px;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    width: 100%;
    direction: ltr;
  }
}

/****************** PROJECTS **********************/
.projects-wrapper {
  background: var(--primary-light-grey);
  padding: 48px 0;
}

.projects-image {
  width: 348px;
  border: 1px solid var(--primary-orange);
}

.projects-image-box {
  position: relative;
  margin: 16px;
}

/***************** OVERFLOW BOX *******************/
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 348px;
  height: 218px;
  top: 0;
  border: 1px solid var(--primary-salmon);
  cursor: pointer;
}

.projects-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}

.projects-icon {
  position: absolute;
  opacity: 0;
  margin-left: -174px;
  margin-top: 109px;
  color: var(--primary-orange);
  transition: transform 0.7s;
  font-size: 24px;
}

.projects-image-box:hover .projects-icon {
  opacity: 90%;
  transform: scale(2);
  cursor: pointer;
}

/******************** POPUP BOX ***********************/
.project-image-popupbox {
  width: 960px;
  padding: 0 8px;
}

.hyper-link {
  cursor: pointer;
  color: var(--primary-orange);
}

.hyper-link:hover {
  cursor: pointer;
  color: var(--primary-salmon);
}

@media (max-width: 768px) {
  .project-image-popupbox {
    width: 100%;
  }
}

@media (max-height: 780px) {
  .popupbox-wrapper {
    height: 75%;
    width: 60%;
  }
  .project-image-popupbox {
    width: 65%;
  }
}

@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 95%;
    width: 80%;
  }
  .project-image-popupbox {
    width: 50%;
  }
}

@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .project-image-popupbox {
    width: 30%;
  }
}

/******************** TESTIMONIALS ***********************/
.testimonials {
  background-image: url(testimonials.jpg);
  background-position: center;
  background-size: cover;
  background-color: var(--primary-dark);
  text-align: center;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-bottom: 0;
  width: 100%;
}

.testimonials h1 {
  color: var(--primary-orange);
  padding: 32px 0;
  text-transform: uppercase;
  font-weight: 600;
}

.testimonials-content {
  text-align: center;
  max-width: 850px;
  margin: 0 auto 32px 0;
  background: var(--primary-transparent-black);
}

.myCarousel {
  align-content: center;
  color: var(--primary-white);
  background: transparent;
  margin-top: -5%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 286px;
}

.myCarousel h3 {
  color: var(--primary-orange);
  font-weight: 600;
  text-transform: uppercase;
}

.myCarousel p {
  color: var(--primary-grey);
  font-size: 20px;
}

.carousel .slide img {
  width: 160px !important;
  border-radius: 50%;
}

.carousel .slide {
  background: transparent !important;
  height: 100% !important;
  padding-top: 32px;
}

.carousel-root {
  margin: auto !important;
  margin-top: 3% !important;
}

@media (max-width: 530px) {
  .myCarousel {
    height: 400px;
  }
}

@media (max-width: 320px) {
  .myCarousel {
    height: 480px;
  }
}

/**************** CONTACTS ME ********************/
.contacts {
  background: var(--primary-dark);
  padding: 48px 0;
  height: 75vh;
}

.contacts h1 {
  color: var(--primary-orange);
  padding: 20px 0;
  text-transform: uppercase;
}

.contacts p {
  color: var(--primary-light-grey);
  font-size: 22px;
}

/************** INPUTS ******************/
.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 2px solid var(--primary-dark-grey);
  border-radius: 0;
  color: var(--primary-orange);
  outline: 0 !important;
  box-shadow: none im !important;
  margin-bottom: 16px;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 64px 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: var(--primary-orange);
  border-bottom: 2px solid var(--primary-dark-grey);
}

.contacts textarea {
  height: 195px !important;
}
.line {
  position: relative;
  top: -12.8px;
  width: 0;
  height: 2px;
  background: var(--primary-orange);
  display: inline-block;
}

input.form-control,
textarea.form-control {
  margin: -4.8px 0;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.error-message {
  color: var(--primary-red);
  margin-top: -18px;
  margin-bottom: 12px;
}

@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 16px;
  }

  .contacts p {
    padding: 0 16px;
  }
}

/************** SUCCESS MESSAGE *******************/

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  background: var(--primary-black);
  transition: 0.7s ease-out;
}

.success-message h1 {
  /*   text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
    0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092;
  color: #fccaff; */
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  color: #fff6a9;
  /* font-family: "Sacramento", cursive; */
  text-align: center;
  animation: blink 12s infinite;
  -webkit-animation: blink 12s infinite;
  text-transform: initial;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #111;
    text-shadow: none;
  }

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    /*     color: #fccaff;
      text-shadow: 0 0 5px #f562ff, 0 0 15px #f562ff, 0 0 25px #f562ff,
        0 0 20px #f562ff, 0 0 30px #890092, 0 0 80px #890092, 0 0 80px #890092; */
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
      0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
  }
}

/**************** FOOTER *********************/
.footer {
  background: var(--primary-black);
  color: var(--primary-light-grey);
  padding: 56px;
}

.footer a {
  text-decoration: none;
  color: var(--primary-light-grey);
}

.footer a:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin: 0;
}
