@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed", sans-serif;
}

/***NAVBAR***/
.logo {
  height: 100px;
  width: 260px;
}

/**** MENU LINKS ****/
nav a.nav-link {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 12px;
  margin-left: 12px;
  color: var(--primary-white) !important;
  border-top: 3px solid var(--primary-dark);
}

.nav-brand {
  max-width: 276px;
  padding: 0 !important;
  height: 96px !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 3px solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 3px solid var(--primary-orange);
}
